{% extends 'base.html' %}

{% block title -%}
Мои деньги: Кошельки
{%- endblock %}

{% block body %}
<h1>Кошельки:</h1>
<div class="row">
    <div class="col col-4">
        <ul class="list-group">
            {% for row in list %}
            <li class="list-group-item">
                <a href="{{ url_for('ref_account_app.detail', id=row['id']) }}">
                    {{row['name']}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
