{% extends 'base.html' %}

{% block title -%}
Создать поступление денег
{%- endblock %}

{% block body %}
<h1 xmlns="http://www.w3.org/1999/html">Создать поступление денег</h1>
<hr>

<form>
    <form class="form-group">
        <label for="account">Кошелек:</label>
        <input type="text" class="form-control" id="account">
        <br>
        <label for="sum">Сумма:</label>
        <input type="text" class="form-control" id="sum">
        <br>
        <label for="comment">Комментарий:</label>
        <input type="text" class="form-control" id="comment" maxlength="100">
    </form>
</form>
<button id="new-btn" class="btn btn-primary btn-lg">СОЗДАТЬ</button>

<div style="display:none" id="error-block" class="alert alert-danger" role="alert">
    НА СЕРВЕРЕ ВОЗНИКЛА ОШИБКА, МНЕ ОЧЕНЬ ЖАЛЬ
</div>
{% endblock %}

{% block body_bottom %}
<script>
    $(function () {
        $('#new-btn').click(function () {
            $.ajax({
                method: 'POST',
                data: {
                    date: Date.now(),
                    account_id: $('#account').val(),
                    sum: $('#sum').val(),
                    comment: $('#comment').val()
                },
                error: function (err) {
                    $('#error-block').show();
                },
                success: function () {
                    window.location = "{{ url_for('doc_income_app.list') }}"
                }
            })
        })
    })
</script>
{% endblock %}
