<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>
        {% block title %}
        Base title
        {% endblock %}
    </title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">Мои деньги</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('accounts_app.list') }}">Кошельки</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('doc_income_app.new') }}">Приход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Расход</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Отчеты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Отчет 1</a>
                        <a class="dropdown-item" href="#">Отчет 2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Сводный отчет</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    {% block body %}
    Base page
    {% endblock %}
</div>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

{% block body_bottom %}
{% endblock %}
</body>
</html>